body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

abbr, acronym {
  border: 0; }

html {
  overflow-y: scroll; }

body {
  font-size: 62.5%;
  font-family: "Chaparral Pro", Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
  line-height: 1.5;
  background: #dfdfdf url(/images/bg.png) repeat;
  color: #222222; }

div#container p {
  font-size: 1.6em;
  margin-bottom: 1em; }
div#container div.page {
  width: 96em;
  margin: 0 auto 2.4em auto; }

div#header {
  padding-top: 9.6em; }
  div#header h1 {
    font-size: 4.8em;
    margin-bottom: 8px; }
    div#header h1 a img#logo {
      float: left;
      display: block; }
  div#header ul.nav {
    font-size: 2.6em;
    color: #333333;
    list-style: none;
    display: inline;
    float: right;
    padding-bottom: 0.5em;
    background: url(/images/dot.png) repeat-x bottom; }
    div#header ul.nav li {
      float: left; }
      div#header ul.nav li a {
        display: block;
        padding-left: 2em;
        font-weight: bold;
        text-decoration: none;
        color: #222222;
        text-shadow: 1px 1px 2px white; }
      div#header ul.nav li a:hover {
        text-decoration: underline;
        color: #9e2519; }
      div#header ul.nav li a.home {
        text-transform: lowercase;
        font-variant: small-caps;
        color: #545454;
        padding-left: 0; }
      div#header ul.nav li a.vote {
        font-style: italic; }
  div#header p.hero {
    font-size: 2.2em;
    text-shadow: 1px 1px 1px white;
    padding: 1.5em 3em;
    float: right;
    width: 600px; }

#secondary-nav {
  position: absolute;
  top: 0;
  height: 4.8em;
  width: 100%;
  background: white url(/images/topbar.png) bottom repeat-x; }
  #secondary-nav span.github, #secondary-nav div.login-toggle {
    font-family: "Lucida Grande", sans-serif;
    font-size: 1.4em;
    margin-top: 1em; }
  #secondary-nav div.login-toggle {
    float: right; }
  #secondary-nav span.github {
    float: left; }
  #secondary-nav span.signed-in {
    float: left;
    margin-right: 2em; }
  #secondary-nav span.sign-out {
    float: left; }
    #secondary-nav span.sign-out a {
      color: #4e9a06; }
  #secondary-nav span.num-votes {
    float: left;
    margin-right: 2em; }

.errorExplanation {
  margin-bottom: 2em; }

#talks.page h2.talks, #talks.page h2.presenters, #presenters.page h2.talks, #presenters.page h2.presenters {
  font-size: 2.2em;
  text-shadow: 1px 1px 2px white;
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 0;
  border-bottom: 3px solid white;
  display: block; }
#talks.page h2:before, #presenters.page h2:before {
  content: "\2003 \2014 \2002"; }
#talks.page h2:after, #presenters.page h2:after {
  content: "\2002 \2014"; }
#talks.page .talk-list, #talks.page .presenter-list, #presenters.page .talk-list, #presenters.page .presenter-list {
  background: #eeeeee;
  border-top: 1px solid #cccccc;
  padding: 3.2em 5.6em; }
  #talks.page .talk-list ul.presenters, #talks.page .presenter-list ul.presenters, #presenters.page .talk-list ul.presenters, #presenters.page .presenter-list ul.presenters {
    font-size: 3.2em; }
    #talks.page .talk-list ul.presenters li, #talks.page .presenter-list ul.presenters li, #presenters.page .talk-list ul.presenters li, #presenters.page .presenter-list ul.presenters li {
      margin-bottom: 0.25em; }
      #talks.page .talk-list ul.presenters li a, #talks.page .presenter-list ul.presenters li a, #presenters.page .talk-list ul.presenters li a, #presenters.page .presenter-list ul.presenters li a {
        color: #333333;
        padding: 0.25em 0.5em;
        border: 2px solid #eeeeee;
        border-radius: 0.125em;
        -webkit-border-radius: 0.125em;
        -moz-border-radius: 0.125em; }
      #talks.page .talk-list ul.presenters li a:hover, #talks.page .presenter-list ul.presenters li a:hover, #presenters.page .talk-list ul.presenters li a:hover, #presenters.page .presenter-list ul.presenters li a:hover {
        color: white;
        background-color: #333333;
        text-decoration: none;
        border: 2px solid #333333;
        border-radius: 0.125em;
        -webkit-border-radius: 0.125em;
        -moz-border-radius: 0.125em; }
  #talks.page .talk-list .talk, #talks.page .presenter-list .talk, #presenters.page .talk-list .talk, #presenters.page .presenter-list .talk {
    padding: 2.4em 0; }
  #talks.page .talk-list div.title, #talks.page .talk-list div.presenter, #talks.page .talk-list div.description, #talks.page .talk-list div.link, #talks.page .presenter-list div.title, #talks.page .presenter-list div.presenter, #talks.page .presenter-list div.description, #talks.page .presenter-list div.link, #presenters.page .talk-list div.title, #presenters.page .talk-list div.presenter, #presenters.page .talk-list div.description, #presenters.page .talk-list div.link, #presenters.page .presenter-list div.title, #presenters.page .presenter-list div.presenter, #presenters.page .presenter-list div.description, #presenters.page .presenter-list div.link {
    margin-bottom: 0.5em; }
  #talks.page .talk-list div.title, #talks.page .presenter-list div.title, #presenters.page .talk-list div.title, #presenters.page .presenter-list div.title {
    font-size: 2.2em;
    font-weight: bold;
    font-style: italic; }
  #talks.page .talk-list div.presenter, #talks.page .presenter-list div.presenter, #presenters.page .talk-list div.presenter, #presenters.page .presenter-list div.presenter {
    font-size: 2.2em; }
  #talks.page .talk-list div.description, #talks.page .talk-list div.link, #talks.page .presenter-list div.description, #talks.page .presenter-list div.link, #presenters.page .talk-list div.description, #presenters.page .talk-list div.link, #presenters.page .presenter-list div.description, #presenters.page .presenter-list div.link {
    font-size: 1.8em; }
  #talks.page .talk-list div.actions, #talks.page .presenter-list div.actions, #presenters.page .talk-list div.actions, #presenters.page .presenter-list div.actions {
    font-size: 1.4em;
    font-family: "Lucida Grande", sans-serif; }

#footer {
  background: url(/images/dot.png) top repeat-x;
  padding: 2.4em 0; }
  #footer p.copyright, #footer p.forking {
    font-size: 1.4em;
    font-family: "Lucida Grande", sans-serif;
    margin-bottom: 1em; }

h2 {
  font-size: 1.8em;
  margin-bottom: 8px; }

h3 {
  font-size: 1.6em;
  margin-bottom: 8px; }

a {
  color: #204a87;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

.amp {
  font-family: Palatino, Baskerville, Georgia, serif;
  font-style: italic; }
