body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html {
  overflow-y: scroll; }

body {
  font-size: 62.5%;
  font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif; }

div#container {
  width: 96em;
  margin: 3.2em auto 0 auto; 
  }
  div#container p {
    font-size: 1.6em; }

h1 {
  font-size: 4.8em;
  margin-bottom: 8px; }

h2 {
  font-size: 1.8em;
  margin-bottom: 8px; }
