- content_for :hero do
  %p.hero
    // This is the explanatory hero text
    %strong votie
    is a simple web-app designed for
    = link_to "Barcamps", "http://en.wikipedia.org/wiki/BarCamp"
    that tracks speakers
    %span.amp &amp;
    their presentations with a simple voting system to find the cream-of-the-crop.


#talks.page
  %h2.talks Popular talks
  .talk-list
    - @talks.each do |talk|
      = render :partial => 'talk', :locals => {:talk => talk}

    - if @talks.empty?
      %p
        There are no talks yet.
        - if current_user
          = link_to("Submit one now", new_talk_path)+"."
