%h2 Presenters

- @presenters.each do |presenter|
  .presenter
    = link_to presenter.twitter_name, '#'
    .presenter-talks
      - presenter.talks.each do |talk|
        = render :partial => 'talk', :locals => {:talk => talk}

