.page
  %h2 Presenters

  - @presenters.each do |presenter|
    .presenter
      = link_to presenter.name, '#'
      /.presenter-talks
      /  - presenter.talks.each do |talk|
      /  = render :partial => 'talk', :locals => {:talk => talk}

