#talks.page
  %h2.talks Vote on some talks
  .talk-list
    - @talks.each do |talk|
      = render :partial => 'talk', :locals => {:talk => talk}

    - if @talks.empty?
      %p
        There are no talks yet.
        - if current_user
          = link_to("Submit one now", new_talk_path)+"."
