#footer.page.clear
  %p.copyright
    &copy
    = link_to "Rohan Mitchell", "http://rohanmitchell.com/", {:title => "rohanmitchell.com"}
    %span.amp &amp;
    = link_to "Simon Pascal Klein", "http://klepas.org", {:title => "klepas.org"}
    2010.
  %p.forking
    Come fork me at
    = link_to "GitHub.com", "http://github.com/klepas/votie", {:title => "votie on GitHub.com"}
